<div class="">
  <div class="text-font-title font-bold text-sm pb-1">
    <span> {{ label }}</span>
    <span *ngIf="required" class="text-xs text-red"> *</span>
  </div>
  <div
    [ngClass]="{
      focus: statusFocus,
      'bg-[#F2F2F2] hover:border-font-disabled hover:border hover:bg-[#F2F2F2]':
        disabled,
      error: inputError
    }"
    class="flex border border-solid border-font-disabled rounded-md hover:border-secondary hover:bg-background hover:border-2 outline-none px-2"
    [ngStyle]="{
      width: width ? width : '100%'
    }"
    style="height: 44px"
  >
    <input
      #inputRef
      [type]="showPassword ? 'text' : 'password'"
      class="outline-none placeholder:text-font-disabled placeholder:text-sm"
      (focus)="onFocus(true)"
      (blur)="onFocus(false)"
      [formControl]="control"
      [attr.placeholder]="label"
      style="height: 40px; width: 100%"
    />
    <div class="flex justify-center items-center" style="height: 100%">
      <img
        (click)="toggleShowPassword()"
        [src]="
          showPassword
            ? 'assets/icons/hide-password.svg'
            : 'assets/icons/show-password.svg'
        "
        alt=""
        class="icon-style"
      />
    </div>
  </div>

  <div
    *ngIf="inputError == true && errorMessage != undefined"
    class="text-xs text-red pt-1"
  >
    {{ errorMessage }}
  </div>
</div>
