<div class="centered-input-container">
  <label class="input-label">{{ label }}</label>
  <div class="input-wrapper">
    <input [type]="hidePassword ? 'password' : 'text'" class="centered-input" [placeholder]="inputPlaceHolder" [formControl]="control">
    <button type="button" class="toggle-button" (click)="togglePasswordVisibility()">
      <span *ngIf="hidePassword"><mat-icon fontIcon="visibility"></mat-icon></span>
      <span *ngIf="!hidePassword"><mat-icon fontIcon="visibility_off"></mat-icon></span>
    </button>
  </div>
</div>
