@use "variable/color-theme" as colors;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

body {
  margin: 0;
  // position: absolute;
  font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, div {
  font-family: 'Kanit', sans-serif;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
