<div class="body-login">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">LOGIN</h5>
      <hr style="width: 80%; text-align: left; margin-left: 0" />
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="card-text mb-5">
          <div class="input-container">
            <app-input
              label="Email"
              inputPlaceHolder="Email"
              [control]="getKey('email')"
            ></app-input>
            <div *ngIf="getKey('email').invalid && getKey('email').touched" class="error">
              <div *ngIf="getKey('email').errors?.['required']">Email is required.</div>
              <div *ngIf="getKey('email').errors?.['email']">Email is invalid.</div>
            </div>
          </div>
          <div class="input-container">
            <app-input-password
              label="Password"
              inputPlaceHolder="Password"
              [control]="getKey('password')"
            ></app-input-password>
            <div *ngIf="getKey('password').invalid && getKey('password').touched" class="error">
              <div *ngIf="getKey('password').errors?.['required']">Password is required.</div>
            </div>
          </div>
          <div class="button-container">
            <app-button buttonText="LOGIN" type="submit"></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
