<div class="">
  <div class="text-font-title font-bold text-sm pb-1">
    <span> {{ label }}</span>
    <span *ngIf="required" class="text-xs text-red"> *</span>
  </div>
  <div
    [ngStyle]="{
      width: width ? width : '400px'
    }"
     [ngClass]="{
      focus: statusFocus,
      'bg-[#F2F2F2] hover:border-font-disabled hover:border hover:bg-[#F2F2F2]': disabled,
      error: inputError
    }"
    class="border border-solid border-font-disabled rounded-md hover:border-secondary hover:border-2 hover:bg-background px-2 placeholder:text-sm"
    style="height: 44px"
  >
    <input
      #inputRef
      [type]="type"
      (focus)="onFocus(true)"
      (blur)="onFocus(false)"
      [formControl]="control"
      [attr.placeholder]="label"
      style="height: 40px; width: 100%"
      class="outline-none placeholder:text-font-disabled placeholder:text-sm"
      />
  </div>
  <div
    *ngIf="inputError == true && errorMessage != undefined"
    class="text-xs text-error pt-1"
  >
    {{ errorMessage }}
  </div>
</div>
