<mat-accordion>
  <mat-expansion-panel #panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="titleTextCollaps">
        แสดงแบบย่อ
        <img
          [attr.aria-expanded]="!isCollapsed"
          style="cursor: pointer"
          class="ml-2"
          [ngClass]="
            panel.expanded ? 'animationIconCollap2' : 'animationIconCollap'
          "
          src="/assets/icons/collap-up.svg"
          alt=""
        />
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="section-prnew-header">
      <div class="row" style="margin-top: 16px">
        <div class="col-lg-6">
          <label class="mb-2">Thumbnail</label>
          <div class="style-thumbnail">
            <input
              style="z-index: 2"
              (change)="uploadImg($event)"
              class="upload-input"
              type="file"
            />
            <img
              *ngIf="!statusShowImg; else showPreview"
              class="upload-img"
              src="/assets/images/upload-img.png"
              alt=""
            />
            <ng-template #showPreview>
              <img class="preview-img" [src]="previewImage" alt="Preview-Img" />
            </ng-template>
          </div>
        </div>
        <div class="col-lg-6">
          <label class="mb-2 mt-2">ชื่อบทความ</label>
          <app-input
            [control]="getFormEditControlByKey('title')"
            class="input-primary"
            inputPlaceHolder="ชื่อบทความ"
          ></app-input>

          <label class="mb-2 mt-2">Description</label>
          <app-input-area
            [control]="getFormEditControlByKey('description')"
            inputPlaceHolder="Description"
          ></app-input-area>

          <label class="mb-2 mt-2">URL</label>
          <app-input
            [control]="getFormEditControlByKey('url')"
            class="input-primary"
            inputPlaceHolder="URL"
          ></app-input>
        </div>
      </div>

      <div class="row" style="margin-top: 20px">
        <div class="col-lg-6">
          <label class="mb-2 mt-2">ผู้เขียน</label>
          <app-input
            [control]="getFormEditControlByKey('author')"
            class="input-primary"
            inputPlaceHolder="ผู้เขียน"
          ></app-input>
        </div>
        <div class="col-lg-6">
          <label class="mb-2 mt-2">Tag</label>
          <app-input-select-tag
            (eventSelectTag)="actionSelectTag($event)"
            [dropdownDatas]="data"
            [dataSelected]="1"
          >
          </app-input-select-tag>
        </div>
        <div class="col-lg-12">
          <hr />
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
