<div class="content">
  <div
    class="w-100 text-center font-extralight text-primary-variant"
    style="font-size: 40px; padding-bottom: 10px"
  >
    {{ "The beauty of " }}<span class="font-normal">NATURE</span>
  </div>
  <div
    class="w-100 text-center font-extralight text-primary-variant text-lg"
    style="padding-bottom: 40px"
  >
    The sustainable development enhancing the beauty of nature.
  </div>
  <div class="bg-background flex justify-center">
    <div class="grid grid-rows-2 grid-cols-3 gap-4 py-12 px-20 w-3/5">
      <div class="row-span-2">
        <img
          class="img-style"
          style="height: 460px; width: 100%"
          src="https://images.unsplash.com/photo-1587316830148-c9b01df2da38?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHR1bGlwfGVufDB8fDB8fHww"
        />
      </div>
      <div class="col-span-1">
        <img
          class="img-style"
          style="height: 220px; width: 100%"
          src="https://images.unsplash.com/photo-1615669527168-8766827a7159?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHR1bGlwfGVufDB8fDB8fHww"
        />
      </div>
      <div class="col-span-1">
        <img
          class="img-style"
          style="height: 220px; width: 100%"
          src="https://images.unsplash.com/photo-1589994160839-163cd867cfe8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHR1bGlwfGVufDB8fDB8fHww"
        />
      </div>
      <div class="col-span-2">
        <img
          class="img-style"
          style="height: 220px; width: 100%"
          src="https://images.unsplash.com/photo-1586968295564-92fd7572718b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHVsaXB8ZW58MHx8MHx8fDA%3D"
        />
      </div>
    </div>
  </div>
</div>
<div
  class="flex justify-center items-center pt-20 pb-20 gap-24"
  style="height: 400px"
>
  <div class="flex flex-col justify-center items-center">
    <img src="assets/icons/photographer.svg" width="175" />
    <div class="text-lg font-semibold text-primary-variant pt-5">
      Over 1.2 million visitors to date
    </div>
  </div>
  <div class="w-1 bg-primary-variant" style="height: 100%"></div>
  <div class="flex flex-col justify-center items-center">
    <img src="assets/icons/tulp-flower.svg" width="175" />
    <div class="text-lg font-semibold text-primary-variant pt-5">
      Flower around the world
    </div>
  </div>
  <div class="w-1 bg-primary-variant" style="height: 100%"></div>
  <div class="flex flex-col justify-center items-center">
    <img src="assets/icons/map.svg" width="175" />
    <div class="text-lg font-semibold text-primary-variant pt-5">
      Landmark in Rayong
    </div>
  </div>
</div>
<div>
  <div class="relative w-full" style="height: 180px">
    <img
      src="https://media.istockphoto.com/id/486857591/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%97%E0%B8%B4%E0%B8%A7%E0%B8%A5%E0%B8%B4%E0%B8%9B%E0%B9%80%E0%B8%AD%E0%B8%A5%E0%B8%B4%E0%B8%94%E0%B8%A2%E0%B8%B2%E0%B8%A1%E0%B8%AD%E0%B8%B2%E0%B8%97%E0%B8%B4%E0%B8%95%E0%B8%A2%E0%B9%8C%E0%B8%AD%E0%B8%B1%E0%B8%AA%E0%B8%94%E0%B8%87.jpg?s=2048x2048&w=is&k=20&c=cflZKGQbzQYnQy_3_Au_hh1Xd2G6N-61x-lplkolmqo="
      alt="Tulip Background"
      class="w-full object-cover h-full"
    />
    <div
      class="bgContent3-header text-white w-full h-full flex justify-center items-center"
      style="font-size: 40px"
    >
      <div class="pb-8">Exploration of new experiences.</div>
    </div>
  </div>

  <div class="bgContent3">
    <div class="w-3/5 px-20">
      <div class="flex gap-16 items-center mb-16 justify-between">
        <img
          class="object-cover"
          style="height: 310px; width: 45%"
          src="https://images.unsplash.com/photo-1556121831-983da38221a1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
        <div class="text-sm text-white  pb-20" style="width: 45%;">
          <div class="font-semibold">การแสดง ประจำเดือน ตุลาคม 2566</div>
          <div class="pb-16">เทศกาลดอกไม้ และการแสดงประจำฤดูกาล เดือน ตุลาคม 2566</div>
          <div class="text-xs ">1 ตุลาคม 2566</div>
        </div>
      </div>
      <div class="flex gap-16 items-center pb-16 justify-between">
        <div class="text-sm text-white text-right pb-20" style="width: 45%;">
          <div class="font-semibold">การแสดง ประจำเดือน กันยายน 2566</div>
          <div class="pb-16">เทศกาลดอกไม้ และการแสดงประจำฤดูกาล เดือน กันยายน 2566</div>
          <div class="text-xs ">1 กันยายน 2566</div>
        </div>
        <img
          class="object-cover"
          style="height: 310px; width: 45%"
          src="https://images.unsplash.com/photo-1608569434733-b5366c217bd4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
      </div>
    </div>
  </div>
</div>
<div
  class="to-top"
  (click)="scrollToTop()"
  [ngClass]="{ 'show-scrollTop': windowScrolled }"
>
  <img src="assets/icons/button-to-top.svg" alt="to-top-icon" />
</div>
