@use "variable/color-theme" as colors;
@use "variable/emphasis";

@mixin font($weight, $size, $lineh) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineh;
  &.primary {
    color: colors.$primary;
  }
  &.primary-variant {
    color: colors.$primary-variant;
  }
  &.secondary {
    color: colors.$secondary;
  }
  &.secondary-variant {
    color: colors.$secondary-variant;
  }
  &.background {
    color: colors.$background1;
  }
  &.error {
    color: colors.$error;
  }
  &.on-primary {
    color: colors.$on-primary;
  }
  &.on-secondary {
    color: colors.$on-secondary;
  }
  &.high-emp {
    opacity:  emphasis.$high-emp;
  }
  &.medium-emp {
    opacity:  emphasis.$medium-emp;
  }
  &.disable-emp {
    opacity:  emphasis.$disable-emp;
  }
}

.heading1 {
  @include font(600, 38px, 46px);
}
.heading2 {
  @include font(500, 24px, 32px);
}
.title {
  @include font(600, 18px, 27px);
}
.sub-title {
  @include font(400, 18px, 27px);
}
.content-link {
  @include font(normal, 14px, 22px);
  text-decoration-line: underline;
}
.input-label {
  @include font(700, 14px, 22px);
}
.content-button {
  @include font(700, 16px, 24px);
}
.body1 {
  @include font(normal, 14px, 22px);
}
.body2 {
  @include font(normal, 14px, 18px);
}
.description {
  @include font(normal, 12px, 20px);
}
