@use "variable/color-theme" as colors;

$primary-default: colors.$button;
$primary-hover: colors.$button-hover;
$primary-press: colors.$button-press;
$primary-press-border : 2px solid colors.$button-hover;

$secondary-border: 1px solid colors.$primary-variant;
$secondary-default: colors.$secondary;
$secondary-hover: colors.$secondary-variant;
$secondary-press: colors.$secondary-variant;
$secondary-press-border: 2px solid colors.$primary-variant;

$disabled: #BDBDBD;
$disabled-border: 1px solid #BDBDBD;

$error-default: #C73706;
$error-hover: #C73706;
$error-press: #C73706;
$error-border:1px solid #C73706;
