//Color Theme//
$primary: #003b6d;
$primary-variant: #00649F;
$secondary: #88CBFD;
$secondary-variant: #AADBFF;
$primary-border: #707F70;

$background1: #F3FAFF;
$line: #F2F2F2;
$on-primary: #ffffff;
$on-secondary: #000000;

$button: #008ECF;
$button-hover: #00649F;
$button-press: #0178af;
$error: #C73706;

$nav: #009FE0;

$text-side:#666666;
