$primary: #273D26;
$primary-variant: #182317;
$primary-border: #707F70;
$primary-hover:#E8F0E7;
$secondary-hover:#F4E5C6;
$secondary: #FAB81D;
$secondary-variant: #EEA025;
$secondary-select:#F0D193;
$background: #FCFFFC;
$surface: #FFFFFF;
$error: #C73706;
$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;
