.box-navbar{
  background-color: #008ECF;
  height: 50px;
}

.nav-header{
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600px;
  color: #FFF
}

.mat-toolbar {
  background-color: #3490dc;
  color: white;
}

.section-contrainer a {
  color: white;
}

.logo {
  height: 6rem;
}
