@use "variable/color-theme" as colors;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: colors.$nav;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 32px;
}

.tab-menu {
  padding: 5px;
  position: absolute;
  left:0;
}

.tab-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 20px;
  z-index: -1;
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  margin: 10px 0;
}

.side-menu ul li a {
  color: colors.$text-side;
  text-decoration: none;
  font-size: 18px;
}
