.header-filter {
  color: var(--option-2-primary-variant, #008ECF);
  font-size: 20px;
}

.set-hr-style {
  border-width: 1px;
  margin: 0px 14px;
  border-color: #E0E0E0;
}

.offcanvas-body {
  height: 500px;
}
