<ng-template #Sidebar let-offcanvas>
  <div class="offcanvas-body">
    <a class="nav-link p-2" href="tags">Tag</a>
    <a class="nav-link p-2" href="prnew">PR news</a>
    <a class="nav-link p-2" href="promotion">Promotion</a>
    <a class="nav-link p-2" href="standradprice">Standard price</a>
    <a class="nav-link p-2" href="schedule">Scheduled</a>
    <a class="nav-link p-2" href="#">Report</a>
    <a class="nav-link p-2" href="#">Member</a>
    <a class="nav-link p-2" href="user">Mange admin user</a>
  </div>
</ng-template>
